{% extends 'base.html' %}
{% block content %}
  <div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
      <h3 class="text-themecolor">Movimiento de Caja</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>Confirma que desea eliminar este registro?</p>
          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td style="width: 400px;">Descripción:</td>
              <td>{{ movimiento_caja.descripcion }}</td>
            </tr>
            </tbody>
          </table>
          <form method="post">{% csrf_token %}
            <div>
              <input type="hidden" name="post" value="yes"/>
              <input type="submit" value="Eliminar" class="btn btn-danger"/>
              <a href="{% url 'movimiento_caja.list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}