{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
  <div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
      <h3 class="text-themecolor">Editar Cliente</h3>
    </div>
    <div class="col-md-7 col-12 align-self-center d-none d-md-block">
      <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
        {#        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>#}
        <li class="breadcrumb-item"><a href="{% url 'cliente.list' %}">Clientes</a></li>
        <li class="breadcrumb-item"><a
          href="{% url 'cliente.detail' form.instance.id %}">{{ form.instance }}</a></li>
        <li class="breadcrumb-item active">Editar</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {% crispy form %}
        </div>
      </div>
    </div>
    <div class="col-12">
      <div id="map"></div>
    </div>
  </div>
{% endblock %}

{% block extra-js %}
  <script>
    var LAT = '{{ cliente.latitud_ubicacion }}'.replace(',', '.');
    var LNG = '{{ cliente.longitud_ubicacion }}'.replace(',', '.');
  </script>
  <script src="{% static 'js/map_edit.js' %}"></script>
{% endblock %}
