{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row page-titles mt-3">
    <div class="col-md-5 col-12 align-self-center">
      <h3 class="text-themecolor">Cŕeditos</h3>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <a href="{% url "credito.list" %}" class="btn {% if activo == "todos" %}btn-primary{% endif %} mr-md-1 mb-2">Todos</a>
          <a href="{% url "credito_pendientes.list" %}" class="btn {% if activo == "pendientes" %}btn-warning{% endif %} mr-md-1 mb-2">Pendientes</a>
          <a href="{% url "credito_aprobados.list" %}" class="btn {% if activo == "aprobados" %}btn-success{% endif %} mr-md-1 mb-2">Aprobados</a>
          <a href="{% url "credito_desembolsados.list" %}" class="btn {% if activo == "desembolsados" %}btn-info{% endif %} mr-md-1 mb-2">Desembolsados</a>
          <a href="{% url "credito_rechazados.list" %}" class="btn {% if activo == "rechazados" %}btn-danger{% endif %} mr-md-1 mb-2">Rechazados</a>
        </div>
        <a href="{% url 'credito.create' %}" class="btn btn-primary">
        Agregar
      </a>
      </div>
    </div>
  </div>

  <div class="card mb-0">
    <div class="card-body">
      <div class="table-responsive">
        <table class="datatable table table-sm table-striped table-bordered ">
          <thead>
          <tr>
            <th>No.</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Pagaré</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          {% for credito in creditos %}
            <tr>
              <td>{{ credito.id }}</td>
              <td>{{ credito.cliente.nombre }}</td>
              <td>{{ credito.vendedor.nombre }}</td>
              <td>{{ credito.cuotero.pagare|intcomma }}</td>
              <td>{{ credito.get_estado_display }}</td>
              <td>
                <a href="{% url "credito.detail" credito.id %}" class="btn btn-info">
                  <i class="bi bi-eye"></i>
                </a>
                <a href="{% url "credito.update" credito.id %}" class="btn btn-primary">
                  <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url "credito.delete" credito.id %}" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}