{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
  <div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
      <h3 class="text-themecolor">Cargar pago</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra-js %}
  <script type="application/javascript">
    var clienteSearchUrl = "{% url "cliente.ajax_search" %}";
  </script>
  <script src="{% static "js/pago_form.js" %}"></script>
{% endblock %}